.gallery{
    margin-top: 1000px;
    background: darkred;

}
.gallery img{
    width: 70%;
    height: 70%;
    cursor: pointer;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-left: 8%;

}
.photos{
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0 1% 3% 1%;
}